/*Playlist table styling*/

h1 {
    text-align: center;
}

table {
    /*width: 20%;*/
    /*margin: 0 20%;*/
}

#cards {
    width: 50%;
    margin: 0 auto;
}


/*Configuration Input Form styling*/

.config-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.config-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.colorPicker {
    display: inline-flex;
    justify-content: center;
    margin: 5px;
}

.color {
    display: inline-block;
    border: 1px solid lightgrey;
    text-align: center;
    margin: 2px;
    padding-top: 30px;
    width: 80px;
    height: 80px;
}

.active {
    box-shadow: 3px 3px 1px grey;
}

.configInput, .configTable {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.configInput input {
    margin: 5px 15px;
}

#countdown-radio {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#card-table td, th {
    text-align: center;
}

.cardRow span {
    font-size: .8em;
    color: black;
}

.card-button {
    margin: 0 2px;
}


/*Playlist display styling*/

#controls-container {
    width: 100%;
    /*position: fixed;*/
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 20px;
}

#counter-holder {
    /*visibility: hidden;*/
    font-size: 30em;
    color: lightgrey;
}

#display-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#controls-container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
}

#controls-container button {
    font-size: 1.9em;
    margin: 0 15px;
    height: 50px;
    width: 50px;
    border-radius: 15%;
}
