body {
  background-color: olive;
}

.config-container {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  flex-flow: row;
  text-align: center;
}

.config-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

label {
  margin: 5px;
  padding-left: 10px;
  width: 200px;
}

button {
  width: 100px;
  margin: 10px 150px 10px 150px;
}

table {
    border-collapse: collapse;
}

table, th, td {
  margin: 20px 0;
    border: 1px solid black;
}

th, td {
  text-align: center;
  width: 150px;
}

.fadeOut {
  animation: fadeOut 2s ease-out;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   1% {
      opacity: .99;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   }
   99% {
      opacity: .99;
   }
   100% {
      opacity: 0;
   }
}
